.text {
    -fx-font-family: "Malgun Gothic";
}

.category {
    -fx-text-size: 10;
    -fx-text-fill: #ababab;
}

#background {

}

#bartab {
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
}

#pietab {
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
}

#bartablabel {
    -fx-font-size: 11;
    -fx-text-fill: #ababab;
}

#percentlabel {
    -fx-font-size: 11;
    -fx-text-fill: #ababab;
}

#pielabel {
    -fx-font-size: 11;
    -fx-text-fill: #ababab;
}

#bartotal  {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#pietotal {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#bardate {
    -fx-font-size: 11;
}

#incomelabel {
    -fx-font-size: 11;
}

#outcomelabel {
    -fx-font-size: 11;
}

#piedate {
    -fx-font-size: 11;
}

#incomelabel {
    -fx-text-fill: #8aa8ff;
}

#outcomelabel {
    -fx-text-fill: #ff8c8c;
}

#percent {
    -fx-text-fill: #67bc73;
}

#incomeicon {
    -fx-fill: #8aa8ff;
}

#outcomeicon {
    -fx-fill: #ff8c8c;
}

#monthlabel {
    -fx-font-family: "SansSerif";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: WHITE;
    -fx-background-color: #b5ffcf;
    -fx-background-radius : 10;
}


.default-color0.chart-pie { -fx-pie-color: #fcaf7e; }
.default-color1.chart-pie { -fx-pie-color: #db9eff; }
.default-color2.chart-pie { -fx-pie-color: #9effec; }

